<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{layout/layout}">
<head>
    <title>パスワード再設定-掲示板アプリ</title>
</head>
<body>
    <h1>パスワード再設定</h1>

    <form th:action="@{/reset-password}" th:object="${resetPasswordForm}" method="post">

        <div>
            <label for="username">ユーザー名:</label><br>
            <input type="text" id="username" th:field="*{username}" />
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red;"></div>
        </div>

        <br>

        <div>
            <label for="newPassword">新しいパスワード:</label><br>
            <input type="password" id="newPassword" th:field="*{newPassword}" />
            <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" style="color: red;"></div>
        </div>

        <br>

        <button type="submit">パスワードを変更する</button>
    </form>

    <br>
    <a th:href="@{/login}">ログイン画面に戻る</a>
</body>

</html>